body {
  margin: 8px;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
}

input {
  max-width: 500px;
}

.gray {
  color: #828282;
}

.orange {
  background-color: #ff6600;
}

.background-gray {
  background-color: rgb(246, 246, 239);
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

.button {
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}

a:visited {
  color: #000000;
  text-decoration: none;
}

a:link {
  color: #000000;
  text-decoration: none;
}

.header-nav {
  line-height: 12pt;
  height: 25px;
}

.header-text {
  margin: 4px 4px 0;
}

.votearrow {
  width: 10px;
  height: 10px;
  border: 0px;
  margin: 3px 2px 6px;
  background: url(grayarrow.gif) no-repeat;
}

.vote-spacer {
  width: 14px;
}
